// global styles
@defaultObjectShadow: 0 25px 35px -5px rgba(0,0,0,1);
body {
  //margin: 10;
  background-image: url(",img.png");
  //background-color: #cccccc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Palatino Linotype", sans-serif;
  // -webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
}

a {
  //background-image: url("img.png");
  cursor: pointer;
}

.app-container {
  background-image: url(",img.png");
  min-height: 320px;
}

p.double {
  outline-style: double;
}

.admin-nav {
  padding-top: 0;
  padding-bottom: 0;
  color: #000;
}

bod {
  margin: 10;
  background-image: url("img.png");

  background-color: #cccccc;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Palatino Linotype", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100wh;
  height: 90vh;
  color: #fff;
  background: linear-gradient(-55deg, white, #332e2e);
  background-size: 400% 400%;
}

.paused {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h6 {
  font-family: "Open Sans";
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
}

boxed {
  width: 150px;
  padding: 50px;
  border: 5px solid gray;
  margin: 0;
}

boxed:hover > #anotherbox {
  width: 50px;
  padding: 40px;
  border: 5px solid gray;
  margin: 0;
  visibility: visible;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.alert-light {
  color: "white";

  background-color: #4caf50;
  border-color: #fdfdfe;
  font-size: medium;
  text-align: center;
}

.alert-dark {
  color: "white";

  background-color: #4caf50;
  border-color: #fdfdfe;
  font-size: large;
  text-align: center;
}
.alert-success {
  color: #fff;
  background-color: #4caf50;
  border-color: hsl(134, 41%, 83%);
  font-size: 20px;
  box-shadow: 20px 20px 20px #474b47;
  font-style: "Palatino Linotype";
}
.Alert.Heading {
  text-align: center;
}

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  justify-content: center;
}

.alert-filledSuccess {
  color: #fff;
  font-weight: 500;
  background-color: #4caf50;
  font-size: 20px;
  box-shadow: 20px 20px 20px #c7f0cb;
  font-style: "Palatino Linotype";
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}

.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  //background-color: white;
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
.video {
  position: absolute;
  width: auto;
  height: 100%;
  top: 0;
  left: 0;
}
.dropzone {
  width: 100%;
  height: 20%;
  border: 1px solid black;
}

#background-video {
  height: 100%;
  width: 100%;
  float: left;
  top: 0;
  padding: none;
  position: fixed; /* optional depending on what you want to do in your app */
}

a:link,
a:visited {
  color: black;
}

.videof,
.videot {
  padding: -20px -20px -20px -20px;
}

sub {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

th {
  text-align: center;
  border: 1px solid;
  padding: 10px;
  align-self: center;
}

td {
  text-align: center;
  border: 1px solid;
  padding: 10px;
  align-self: center;
}

table {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  justify-items: center;

  border: 10px solid;
  padding: 10px;
  align-self: center;
  background-color: white;
}

Plot {
  border: 10px solid;
}
.object-laptop {
  position: relative;
  width: 100%;

  > .screen {
      position: relative;
      width: 80%;
      margin: 0 auto;

      border: 1px solid rgba(0,0,0,.5); // frame - bezel gap
      box-shadow:
          0 0 0 3px rgba(64,64,64,1), // outer frame
          inset 0 0 100px 0 rgba(0,0,0,.75), // bezel darken
          @defaultObjectShadow; // drop shadow
      background-color: #1a1a1a; // bezel
      border-radius: 7px 7px 0 0;

      &::before {
          display: block;
          position: relative;
          content: "";
          padding-top: 62.5%; // 16:10
      }

      > .lcd {
          position: absolute;
          top: 3.5%;
          left: 2.5%;
          bottom: 3.5%;
          right: 2.5%;
          overflow: hidden;
          border: 1px solid;
          border-color: #000 #202020 #282828 #000;
          border-radius: 3px;
          background-color: #000;
          box-shadow:
              inset 0 0 200px 2px rgba(255,255,255,.05);
      }

      > .gloss {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 7px 0 0 0;
          // gloss gradient
          background: linear-gradient(135deg, rgba(255,255,255,0.175) 0%,rgba(255,255,255,0) 50%);
      }

      > .reflexion {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          border-radius: 7px 0 0 0;
          // gloss gradient
          background:
              linear-gradient(100deg, rgba(0,0,0,0) 0%, rgba(255,255,255,.05) 0.1%,rgba(255,255,255,.15) 33%, rgba(0,0,0,0) 33.1%);
      }

      > .highlight {
          position: absolute;
          border-radius: 7px;

          &.one {
              top: -4px;
              left: 2%;
              width: 80%;
              height: 2px;
              background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 15%, rgba(0,0,0,0) 100%);
          }

          &.two {
              top: 2%;
              left: -4px;
              width: 2px;
              height: 80%;
              background: linear-gradient(135deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0.25) 15%, rgba(0,0,0,0) 100%);
          }
      }
  }

  > .keyboard {
      position: relative;
      width: 100%;

      &.one {
          height: .25vw;
          border-radius: 1px 1px 0 0;

          background:
              // left shine
              linear-gradient(90deg, rgba(255,255,255,.5) 0%, rgba(0,0,0,.75) 2%, rgba(0,0,0,.33) 7%, rgba(0,0,0,0) 100%),
              // right shine
              linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.33) 93%, rgba(0,0,0,.75) 98%, rgba(255,255,255,.5) 100%),
              // center shine
              linear-gradient(90deg, rgba(255,255,255,0) 20%, rgba(255,255,255,.35) 33%, rgba(255,255,255,.35) 35%, rgba(0,0,0,0) 100%),
              // solid color
              linear-gradient(0deg, rgba(20,20,20,1) 0%, rgba(20,20,20,1) 100%); // #C8C8C8

          &::after {
              display: inline-block;
              content: "";
              position: absolute;
              top: 0;
              left: 50%;
              transform: translate(-50%,0);
              width: 10%;
              height: .25vw;
              background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.5) 12%, rgba(0,0,0,.5) 90%, rgba(0,0,0,1) 100%);
              box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
          }
      }

      &.two {
          height: 1.25vw;
          border-radius: 0 0 33% 33%;
          box-shadow:
              0 -2px 0 -1px rgba(0,0,0,.5),
              @defaultObjectShadow;

          background:
              // left shine
              linear-gradient(90deg, rgba(255,255,255,.35) 0%, rgba(0,0,0,.75) 2%, rgba(0,0,0,.5) 7%, rgba(0,0,0,0) 50%),
              // right shine
              linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,.5) 83%, rgba(0,0,0,.75) 98%, rgba(255,255,255,.35) 100%),
              // bottom gradient
              linear-gradient(0deg, rgba(0,0,0,.75) 0%, rgba(0,0,0,.25) 33%, rgba(255,255,255,1) 34%, rgba(255,255,255,1) 100%),
              // solid color
              linear-gradient(0deg, rgba(200,200,200,1) 0%, rgba(200,200,200,1) 100%); // #C8C8C8

          &::after {
              display: inline-block;
              content: "";
              position: absolute;
              top: 0;
              left: 50%;
              transform: translate(-50%,0);
              width: 10%;
              height: .5vw;
              background: linear-gradient(0deg, rgba(255,255,255,.75) 0%, rgba(0,0,0,.5) 100%);
              box-shadow: inset 0 -1px 3px 1px rgba(0,0,0,.2);
              border-radius: 0 0 .5vw .5vw;
          }
      }
  }
}